# Ignore Python cache files
website/__pycache__
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore virtual environments
.venv/
env/

# Ignore database
website/database.db

# Ignore migration's pycache
migrations/__pycache__/

.vscode/

__pycache__/
