<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Form</title>
    <link rel="stylesheet" href="styleform.css">
</head>
<body>
    <h1>Admin Restaurant Form</h1>
    <form action="/submit_restaurant" method="POST">
        <label>Restaurant Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Address:</label><br>
        <input type="text" name="address"><br><br>

        <label>Phone Number:</label><br>
        <input type="text" name="phone_number"><br><br>

        <label>Google Maps Link:</label><br>
        <input type="text" name="google_maps_link"><br><br>

        <label>Culinary Type ID:</label><br>
        <input type="text" name="culinary_type"><br><br>

        <label>Rating (1-5):</label><br>
        <input type="number" name="culinary_type"><br><br>

        <input type="submit" value="Add Restaurant">
    </form>
</body>
</html>
