<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
</head>
<body>
    <div class="container">
        <h2>Available Restaurants</h2>
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <a href="{{ url_for('display_restaurant', restaurant_id=restaurant.id) }}">
                        {{ restaurant.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
