{% extends "base.html" %}
{% block title %}MMU Foodie{% endblock %}
{% block body %}
</div>
  <div class="container">
    <div class="filters">
      <div class="filter-section">

        <h3>Price</h3>
        <div class="price-buttons">
          <button>$</button>
          <button>$$</button>
          <button>$$$</button>
          <button>$$$$</button>
        </div>

        <h3>Suggested</h3>
        <div class="checkbox-option">
          <label>
            <span>Open Now</span>
            <input type="checkbox">
          </label>
        </div>

        <div class="checkbox-option">
          <label>
            <span>Offers Delivery</span>
            <input type="checkbox">
          </label>
        </div>

        <div class="see-more-container">
          <div class="container1">

        <h3>Category</h3>
        <button class="category">Local</button>
        <button class="category">Western</button>
        <button class="category">Chinese</button>
        <button class="category">Fast Food</button>
        <span class="more-category">
          <button class="category">Japanese</button>
          <button class="category">Italian</button>
          <button class="category">Korean</button>
        </span>
        <span class="see-more-btn">Show More</span>

          </div>
        </div>

      </div>

    </div>

    <div class="details">
      <h3>Restaurant Details</h3>
      <!-- Restaurant descriptions go here -->
    </div>
    <div class="map">
      <div id="map"></div>
    </div>
  </div>
  <script>
    // Script for Login Form //
    var modal = document.getElementById('id01');
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Script for Leaflet Map //
    const map = L.map('map').setView([2.927891727185679, 101.6418836043987], 15);
    L.tileLayer('https://tile.thunderforest.com/atlas/{z}/{x}/{y}.png?apikey=e001824582174c60bd8de623bc429bb6', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var popup = L.popup();
    var marker = L.marker([2.927891727185679, 101.6418836043987]).addTo(map);
    marker.bindPopup("<b>Multimedia University").openPopup();

    function onMapClick(e) {
      popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    }

    map.on('click', onMapClick);
  </script>
  <script src="script.js"></script>
  {% endblock %}

</html>